<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <WindowsFormsApp3.Properties.Settings>
            <setting name="API_KEY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="API_SECRET" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ROUND" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="REFRESH" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CANDLE" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="POINTS" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="CURR1_INIT" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="CURR2_INIT" serializeAs="String">
                <value>0.0015</value>
            </setting>
            <setting name="PROFIT" serializeAs="String">
                <value>1.05</value>
            </setting>
            <setting name="BUY_ORDER" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="SELL_ORDER" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="SIMU" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FORCE" serializeAs="String">
                <value>False</value>
            </setting>
        </WindowsFormsApp3.Properties.Settings>
    </userSettings>
</configuration>